.contenitore {
    display:flex;
    align-items: flex-end;
    height: 100%;
} 

@mixin l($property) {
    height: $property;
    border: 1px solid #acacac;
    flex-grow: 1;
    margin: 1px;
}

.l1 { @include l(20%)}
.l2 { @include l(40%)}
.l3 { @include l(60%)}
.l4 { @include l(80%)}
.l5 { @include l(100%)}

.l1 { background-color: #FFA88D;}
.l2 { background-color: #FF876F;}
.l3 { background-color: #FF6753;}
.l4 { background-color: #EC4538;}
.l5 { background-color: #C71E1E;}

.sel0 {
    .l1, .l2, .l3, .l4, .l5 { background-color: unset;}
}

.sel1 {
    .l2, .l3, .l4, .l5 { background-color: unset;}
}

.sel2 {
    .l3, .l4, .l5 { background-color: unset;}
}

.sel3 {
    .l4, .l5 { background-color: unset;}
}

.sel4 {
    .l5 { background-color: unset;}
}
